/* work sans font family form google */ 
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
 *{ 
  font-family: "Work Sans";
 }
 /* shared style */
 .btn-primary{
  border: 0px;
  border-radius: 8px;
  background: #FF900E;
  padding: 20px 25px;
  color: #FFF;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
 }
 .text-light-gray{
  color: var(--Dark-03, #727272);
 }
 .section-title{
  color: #131313; 
  font-size: 45px;
  font-weight: 700;
}
 header{
  background: rgba(255, 144, 14, 0.10);
  padding: 50px 240px;
 }
 /* nav style */
 nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
 }
 nav > ul{
  display: flex; 
 }
 nav li{
  list-style: none;
  margin-right: 30px;
  font-weight: 500;
  font-size: 1rem;
 }
 nav li a{
  color:  #424242;
  text-decoration: none;
 }
/* banner style */
.banner-content{
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}
.banner-title{
  color:  #131313;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
}
.banner img{
  margin-top: 30px;
  width: 100%;
}
/* main style */
main{
  width: 100%;
  margin: 70px auto;
}
/* teams style */
.teams-container{
  display: flex;
  align-items: center;
}
.teams-img-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.teams-content{
  padding-left: 70px;
  padding-right: 70px;
}
.teams-title{
  font-size: 45px;
}
.quick-list{ 
  font-weight: 500;
}
.of-our{
  color: var(--Dark-01, #131313); 
  font-weight: 700; 
}
.text-features{
  color: #FF900E;
  font-weight: 700; 
}
/* features style */
.features{
  margin-top: 70px;
  gap: 140px;
  display: flex;
}
.features .section-title{
   border-left: 5px solid #FF900E;;
   padding-left: 20px;
}
.feature-content .card{
  border-radius: 8px;
  background: #FFF;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
  padding: 30px;
  margin-bottom: 20px;
}
.ten-years-badge{
  width: 342px;
  color: #FFF;
  text-align: center; 
  border-radius: 8px;
  background: #FF900E;
  padding: 30px;
  position: relative;
  bottom: 100px;
  right: 100px;
}
.ten-years-badge h2{ 
  font-size: 45px; 
  font-weight: 700;
  margin: 0;
}
.ten-years-badge p{
  font-size: 25px; 
  font-weight: 500; 
}
/* facts style */
.facts-card-container{
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.facts-card-container .card{
  border-radius: 8px;
  border: 1px solid #FF900E;
  padding: 35px;
}
.facts-card-container .card-title{
  font-size: 20px;
  font-weight: 600; 
  color: var(--Dark-02, #424242);
  margin-top: 5px;
}
.facts-card-container .card-stats{
  color: var(--Dark-02, #424242);
  font-size: 45px;
  margin-top: 10px;
  margin-bottom: 10px;
}
/* sponsors style */
.sponsors{
  text-align: center;
}
.sponsors-img-container{
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 40px;
}
.sponsors-img-container img{
  width: 165px;
}

/* responsive media queries */
/* mobile device */
@media screen and (max-width: 576px) {
  header{
    padding: 10px;
  }
  nav, .teams-container, .facts-card-container, .sponsors-img-container, .features{
    flex-direction: column;
  }
  .teams-img-container{
    grid-template-columns: 1fr;
  }
  .teams-content, .facts-card-container{
    padding-left: 10px;
    padding-right: 10px;
  }
  .facts-card-container{
    gap: 20px;
  }
  .feature-img img{
    width: 100%;
  }
  .ten-years-badge{
    margin-top: 30px;
    position: static;
    max-width: 300px;
  }
}
/* table or medium device */
@media screen and (min-width:576px) and (max-width:960px) {
     header{
    padding: 50px;
  }
    nav, .teams-container, .sponsors-img-container, .features{
      flex-direction: column;
    }
}